absl-py==1.4.0
astunparse==1.6.3
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
flatbuffers==23.5.26
gast==0.5.4
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.2
h5py==3.9.0
idna==3.4
iree-compiler==20230524.529
iree-tools-tflite==20230524.529
keras-nightly==2.14.0.dev2023080207
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
ml-dtypes==0.2.0
numpy==1.25.2
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.1
protobuf==4.24.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
tb-nightly==2.14.0a20230808
tensorboard-data-server==0.7.1
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
tf-estimator-nightly==2.14.0.dev2023080308
tf-nightly==2.15.0.dev20230808
typing_extensions==4.7.1
urllib3==1.26.16
Werkzeug==2.3.6
wrapt==1.14.1
