# CMake build directory
/build/ 

# CMake generated temporary files.
/.tmp/

# iree-dist
/tools/ 

# Godot sample project
/sample/

# Custom helper scripts, binaries, and configurations.
/custom/
/compile_commands.json
/.vscode/