# CMake build directory
/build/ 

# CMake generated temporary files.
/.tmp/

# Custom helper scripts, binaries, and configurations.
/custom/
/compile_commands.json
/.vscode/

# Caches
/.cache/
/.ccls-cache/

# IDEA
/.idea
/cmake-build-debug

# macOS
.DS_Store
/**/.DS_Store

/*.local/
/**/*.local/