# Godot 4+ specific ignores
.godot/

addons/iree-gd/libiree-gd.linux.debug.single.x86_64.so
addons/iree-gd/libiree-gd.linux.debug.single.x86_32.so
addons/iree-gd/libiree-gd.linux.debug.single.arm64.so
addons/iree-gd/libiree-gd.linux.debug.single.arm.so
addons/iree-gd/libiree-gd.darwin.debug.single.framework
addons/iree-gd/iree-gd.windows.debug.single.x86_64.dll
addons/iree-gd/iree-gd.windows.debug.single.x86_32.dll
addons/iree-gd/libiree-gd.android.debug.single.arm64.so
addons/iree-gd/libiree-gd.android.debug.single.x86_64.so
addons/iree-gd/libiree-gd.ios.debug.single.arm64.dylib
addons/iree-gd/libiree-gd.ios.debug.single.x86_64.dylib


addons/iree-gd/libiree-gd.linux.debug.double.x86_64.so
addons/iree-gd/libiree-gd.linux.debug.double.x86_32.so
addons/iree-gd/libiree-gd.linux.debug.double.arm64.so
addons/iree-gd/libiree-gd.linux.debug.double.arm.so
addons/iree-gd/libiree-gd.darwin.debug.double.framework
addons/iree-gd/iree-gd.windows.debug.double.x86_64.dll
addons/iree-gd/iree-gd.windows.debug.double.x86_32.dll
addons/iree-gd/libiree-gd.android.debug.double.arm64.so
addons/iree-gd/libiree-gd.android.debug.double.x86_64.so
addons/iree-gd/libiree-gd.ios.debug.double.arm64.dylib
addons/iree-gd/libiree-gd.ios.debug.double.x86_64.dylib

addons/iree-gd/libiree-gd.linux.release.single.x86_64.so
addons/iree-gd/libiree-gd.linux.release.single.x86_32.so
addons/iree-gd/libiree-gd.linux.release.single.arm64.so
addons/iree-gd/libiree-gd.linux.release.single.arm.so
addons/iree-gd/libiree-gd.darwin.release.single.framework
addons/iree-gd/iree-gd.windows.release.single.x86_64.dll
addons/iree-gd/iree-gd.windows.release.single.x86_32.dll
addons/iree-gd/libiree-gd.android.release.single.arm64.so
addons/iree-gd/libiree-gd.android.release.single.x86_64.so
addons/iree-gd/libiree-gd.ios.release.single.arm64.dylib
addons/iree-gd/libiree-gd.ios.release.single.x86_64.dylib

addons/iree-gd/libiree-gd.linux.release.double.x86_64.so
addons/iree-gd/libiree-gd.linux.release.double.x86_32.so
addons/iree-gd/libiree-gd.linux.release.double.arm64.so
addons/iree-gd/libiree-gd.darwin.release.double.framework
addons/iree-gd/iree-gd.windows.release.double.x86_64.dll
addons/iree-gd/iree-gd.windows.release.double.x86_32.dll
addons/iree-gd/libiree-gd.android.release.double.arm64.so
addons/iree-gd/libiree-gd.android.release.double.x86_64.so
addons/iree-gd/libiree-gd.ios.release.double.arm64.dylib
addons/iree-gd/libiree-gd.ios.release.double.x86_64.dylib